@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}

.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;

  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
    /* Adjust the distance of movement */
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes moveUpDownSlow {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-50px);
    /* Adjust the distance of movement */
  }

  100% {
    transform: translateY(0);
  }
}

.move-up-down {
  animation: moveUpDown 3s ease infinite;
}

.move-up-down-slow {
  animation: moveUpDown 5s ease infinite;
}

.move-up-down-slow-bg {
  animation: moveUpDownSlow 5s ease infinite;
}

/* custom y scrollbar design */

.custom_y_scrollbar_design::-webkit-scrollbar {
  width: 5px;
}

.custom_y_scrollbar_design::-webkit-scrollbar-track {
  background: #1D1D1F;
}

.custom_y_scrollbar_design::-webkit-scrollbar-thumb {
  background: #343537;
}

.custom_y_scrollbar_design::-webkit-scrollbar-thumb:hover {
  background: #48494A;
}