@tailwind base;
@tailwind components;
@tailwind utilities;

.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;

  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
    /* Adjust the distance of movement */
  }

  100% {
    transform: translateY(0);
  }
}

.move-up-down {
  animation: moveUpDown 3s ease infinite;
  /* Adjust the duration of the animation */
}